body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #23282c;
  text-align: left;
  background-color: #e4e5e6;
}

.app-header {
  padding: 16px;
  position: fixed;
  top: 0;
  width: 100%;
  height: $header-height;
  // overflow: hidden;
  z-index: 1000;
  border-bottom: 1px #F4F5F5 solid!important;
  margin: 1px;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.header-col {
  display: flex;
  flex-direction: row;
}

.header-col span {
  margin-left: 32px;
  margin-right: 32px;
}

.header-col span:first-child {
  margin-left: 0;
}

.header-col span:last-child {
  margin-right: 0;
}

.app-body {
  margin-top: $header-height;
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 100%;
  border: 1px red solid;
}
.app-nav {
  position: fixed;
  top: $header-height;
  left: 0;
  bottom: 0;
  width: 200px;
  margin-left: -200px;
  padding-right: 1px solid #ccc;
  transition: margin .3s;
}
.app-nav.is-nav-open{
  margin-left: 0;
}
.app-main {
  flex: 1;
  margin-left: 0;
  transition: margin .3s;
  background-color: #F5F5F5;
}
.app-main.is-nav-open{
  margin-left: 200px;
}
.app-content {
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
}
.app-nav__icon{
  color: red;
  background-color: red;
  height: 32px;
  width: 32px;
  padding: 2px;
  font-size: 20px;
  cursor: pointer;
  transition: color .3s;
}


.app-header .navbar-toggler-icon.is-nav-open{
  background-position: -1px -306px !important;
}


.app-header .navbar-toggler-icon{
  background-image: url("/images/frame.png") !important;
  width: 22px;
  height: 17px;
  background-size: auto !important;
  background-position: -1px -334px !important;
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f0f3f5;
    border-bottom: 1px solid #c8ced3;
}
.card-header-actions {
    display: inline-block;
    float: right;
    margin-right: -0.25rem;
}