body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #23282c;
  text-align: left;
  background-color: #e4e5e6;
}

.app-header {
  padding: 16px;
  position: fixed;
  top: 0;
  width: 100%;
  height: $header-height;
  // overflow: hidden;
  z-index: 1000;
  border: 1px orange solid!important;
  margin: 1px;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.header-col {
  display: flex;
  flex-direction: row;
}

.app-body {
  margin-top: $header-height;
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 100%;
  border: 1px red solid;
}
.app-nav {
  position: fixed;
  top: $header-height;
  left: 0;
  width: 250px;
  margin-left: -250px;
  height: 100%;
  padding-right: 1px solid #ccc;
  transition: margin .5s;
}
.app-nav.is-nav-open{
  margin-left: 0;
}
.app-main {
  flex: 1;
  transition: margin .5s;
}
.app-main.is-nav-open{
  margin-left: 250px;
}
.app-content {
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
}
.app-nav__icon{
  color: red;
  background-color: red;
  height: 32px;
  width: 32px;
  padding: 2px;
  font-size: 20px;
  cursor: pointer;
  transition: color .3s;
}
.app-nav__icon:hover {
  color: #5eb2ff;
  background-color: #5eb2ff;
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f0f3f5;
    border-bottom: 1px solid #c8ced3;
}
.card-header-actions {
    display: inline-block;
    float: right;
    margin-right: -0.25rem;
}